* {
    font-family: Arial, sans-serif;
}

#mainTitle {
    color: rgb(10, 3, 78);
    text-align: center;
    font-size: 32px;
}

p {
    color: black;
    font-size: 16px;
}

table {
    background-color: #dde68c;
}
